* {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.ui.container {
  margin: 3em 0;
}

.ui.grid {
  min-height: 250px;
}

.ui.grid.container {
  width: calc(1200px + 2rem)!important;
  margin-top: 5em;
}

.ui.grid .ui.segment {
  background: url('/assets/images/header-tropical-863344_640.jpg') bottom/cover no-repeat !important;
  position: relative;
}

.ui.grid .ui.segment::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.ui.card {
  width: 350px;
}

.ui.card .content .description {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.header-container {
  width: 80%;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  padding: 1em;
}

#header-message {
  font-size: 2.5rem;
  text-align: center;
  color: orange;
}

.header-sub--message {
  color: white;
  font-size: 1.2rem;
}

.header-sub--message span {
  color: orange;
}

.angle.right.icon {
  color: white;
}

i.circular.search {
  top: 0.25em !important;
}