<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome!</title>
  <link rel="stylesheet" href="/styles/landing.css">
  <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous">
  </script>
  <script src="/semantic/dist/semantic.min.js"></script>
</head>
<body>
  <header class="header">
    <nav class="ui secondary menu">
      <div class="ui container">
        <a class="active item">
          Home
        </a>
        <a class="item">
          Messages
        </a>
        <a class="item">
          Friends
        </a>
        <div class="right menu">
          <div class="item">
            <div class="ui inverted olive basic button">Sign up</div>
          </div>        
          <div class="item">
            <div class="ui inverted purple basic button">Login</div>
          </div>        
        </div>
      </div>
    </nav>
  </header>
</body>
</html>
