<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome!</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
  <link rel="stylesheet" href="/styles/landing.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>
</head>
<body>
  <header class="header">
    <nav class="ui secondary menu">
      <div class="ui container">
        <a href="/spots" class="active item">View Chill Spots</a>
        <div class="right menu">
          <div class="item">
            <button class="ui inverted olive basic button"><a href="/users/register">Sign up</a></button>
          </div>        
          <div class="item">
            <button class="ui inverted purple basic button"><a href="/users/login">Login</a></button>
          </div>        
        </div>
      </div>
    </nav>
  </header>
</body>
</html>
