<h1 style="text-align: center; color: white">View this chill spot</h1>

<section class="spot-container">
  <div class="ui centered grid container">
    <div class="ten wide column">
      <div class="ui segment">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ipsam asperiores fuga. Quibusdam neque eveniet illo. Tempora voluptas unde magni deleniti quidem perferendis quis quam excepturi iusto, sed delectus odio?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex expedita quisquam, modi cupiditate doloremque nemo, nesciunt magnam, dolor odit quos accusamus eum? Dolores optio in itaque, repellat assumenda perferendis aliquid?</p>
      </div>
    </div>
    <div class="six wide column">
      <img src="/public/assets/images/spot-cafe-3537801_640.jpg" alt="" class="ui fluid image">
    </div>
  </div>
</section>