<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Find Cool Spots</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
  {{!-- url for the css file is passed dynamically from the controller --}}
  <link rel="stylesheet" href="{{ static.css }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>
  <script src="{{static.script}}" defer></script>
</head>
<body>
  <nav>
    <div class="ui pointing menu">
      <a href="/" class="active item">
        Home
      </a>
      <div class="right menu">
        <a href="/spots/new" class="item"><i class="edit outline icon"></i>Add a chill-spot</a>
        <a href="#" class="item"><i class="heart outline icon"></i>Favourite Spots</a>
        <a href="/users/login" class="item">Sign In</a>
        <a href="/users/register" class="item">Register</a>
      </div>
    </div>    
  </nav>
  {{{ body }}}

  
  <script>
    $('.ui.dropdown')
      .dropdown()
    ;

    $('.ui.accordion')
      .accordion()
    ;
  </script>
</body>
</html>