<div class="main-wrapper">
  <section class="login-form">
    <div class="ui segment">
      <h3 class="ui center aligned dividing grey header">Sign In To Your Account</h3>
      {{ displayFlashMessage error }}      
      <form action="/users/login" method="POST" class="ui form">
        <div class="field">
          <label for="">Email</label>
          <div class="ui labeled input">
            <div class="ui label"><i class="user icon"></i></div>
            <input type="email" name="email" placeholder="enter your email">
          </div>
        </div>
        <div class="field">
          <label for="">Password</label>
          <div class="ui labeled input">
            <div class="ui label"><i class="unlock icon"></i></div>
            <input type="password" name="password" placeholder="enter your password">
          </div>
        </div>
        <button type="submit" class="ui animated fluid button" tabindex="0">
          <div class="visible content">Sign In</div>
          <div class="hidden content">
            <i class="sign in alternate icon"></i>
          </div>
        </button>

        <div class="ui styled fluid accordion">
          <div class="title">
            <i class="arrow alternate circle right outline icon"></i>
            Don't have an account?
          </div>
          <div class="content">
            <p><a href="/users/register">Sign Up</a></p>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>