<div class="main-wrapper">
  <section class="login-form">
    <div class="ui segment">
      <h3 class="ui center aligned dividing grey header">Sign In To Your Account</h3>
      <form action="" class="ui form">
        <div class="field">
          <label for="">Email</label>
          <input type="email" name="email" placeholder="enter your email">
        </div>
        <div class="field">
          <label for="">Password</label>
          <input type="password" name="password" placeholder="enter your password">
        </div>
        <div class="ui animated fluid button" tabindex="0">
          <div class="visible content">Sign In</div>
          <div class="hidden content">
            <i class="plus icon"></i>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>