<div class="main-wrapper">
  <section class="register-form">
    <div class="ui segment">
      <h3 class="ui center aligned dividing grey header">Create an Account</h3>
      <form action="" class="ui form">
        <div class="field">
          <label for="">Name</label>
          <input type="text" name="name" placeholder="enter your fullname">
        </div>
        <div class="field">
          <label for="">Email</label>
          <input type="email" name="email" placeholder="please enter a valid email">
        </div>
        <div class="field">
          <label for="">Password</label>
          <input type="password" name="password" placeholder="choose a password">
        </div>
        <div class="field">
          <label for="">Confirm Password</label>
          <input type="password" name="confirm-password" placeholder="please confirm your password">
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" class="hidden" name="agree" id="" tabindex="0">
            <label for="">I agree to the terms and conditions</label>
          </div>
        </div>
        <div class="ui animated fluid button" tabindex="0">
          <div class="visible content">Create account</div>
          <div class="hidden content">
            <i class="plus icon"></i>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>