<div class="main-wrapper">
  <section class="register-form">
    <div class="ui segment">
      <h3 class="ui center aligned dividing grey header">Create an Account</h3>
      {{ displayFlashMessage error }}        
      <form action="/users/register" method="POST" class="ui form">
        <div class="field">
          <label for="">Name</label>
          <div class="ui labeled input">
            <div class="ui label"><i class="address card outline icon"></i></div>
            <input type="text" required name="name" placeholder="enter your fullname">
          </div>
        </div>
        <div class="field">
          <label for="">Username</label>
          <div class="ui labeled input">
            <div class="ui label"><i class="address card outline icon"></i></div>
            <input type="text" required name="username" placeholder="enter your username">
          </div>
        </div>
        <div class="field">
          <label for="">Email</label>
          <div class="ui labeled input">
            <div class="ui label"><i class="envelope outline icon"></i></div>
            <input type="email" required name="email" placeholder="please enter a valid email">
          </div>
        </div>
        <div class="field">
          <label for="">Password</label>
          <div class="ui labeled input">
            <div class="ui label"><i class="unlock icon"></i></div>
            <input type="password" required name="password" placeholder="choose a password">
          </div>
        </div>
        <div class="field">
          <label for="">Confirm Password</label>
          <div class="ui labeled input">
            <div class="ui label"><i class="lock icon"></i></div>
            <input type="password" required name="confirmPassword" placeholder="please confirm your password">
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" class="hidden" name="agree" id="" tabindex="0">
            <label for="">I agree to the terms and conditions</label>
          </div>
        </div>
        <button type="submit" class="ui animated fluid button" tabindex="0">
          <div class="visible content">Create account</div>
          <div class="hidden content">
            <i class="user plus icon"></i>
          </div>
        </button>

        <div class="ui styled fluid accordion">
          <div class="title">
            <i class="arrow alternate circle right outline icon"></i>
            Already have an account?
          </div>
          <div class="content">
            <p><a href="/users/login">Sign In</a></p>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>